
:root {
	--dark-color-a: 	#38618C;
	--dark-color-b: #446e9b;
	--light-color: #eeeef8;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  
}

body {
  background-color: var(--light-color);
  max-width: 960px;
  margin: 0 auto;
  min-height: 25vh;
}

.grid{
  height: 100vh;
}
.container{

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: min-content min-content min-content auto min-content;
  grid-template-areas:
  "title title title title"
  "chat-window chat-window chat-window user-window "
  "chat-window chat-window chat-window  user-window"
  "chat-window chat-window chat-window  user-window"
  "chat-box chat-box chat-box chat-box"
  ;
  height: 100vh;



}
.title{
  grid-area: title;
  height: 70px;
  background-color: var(--dark-color-a);
}
.title h1{
  padding: 1rem;
  color:white;
}

.chat-window{
  background-color: white;
  grid-area: chat-window;
  overflow: auto;
  position: relative;
  

}

.user-window{
  grid-area: user-window;
  background-color: var(--dark-color-b);

  padding: 20px;
  text-decoration: none;

}
.user-window div{
  font-weight: bolder;
  color:white;
  
}
.user-window h3{
  margin-bottom: 15px;
  color: white;
}

.chat-box {
  grid-area: chat-box;
  padding-top: 15px;
  text-align: center;
  background-color: var(--dark-color-a);
}


.chat-box input { 

  height: 35px;
  padding: 7px;
  margin-bottom: 10px;
  width: 90%; 
  margin-right: 0.5%; 
  
}

*:focus {
  outline: none;
}
form button { 
  cursor: pointer;
	padding: 5px 15px;
	background: var(--light-color);
	color: var(--dark-color-a);
	border: 0;
	font-size: 17px;
}

#messages { 
  display: flex;
  flex-direction: column;
  bottom: 0px;
  position: absolute;
  max-height: 100%;
  overflow: auto;
  width: 100%;
 }
#messages li {
  font-weight: lighter;
  font-size: 16px;
  padding: 10px 5px;
  margin-bottom: 15px;
  margin: 7px 5px;
  background-color: var(--light-color);
  border-radius: 5px;
 }

.time {
  font-size: 12px;
  color:gray;
  font-weight: 200;

}




